spring:
  cloud:
    gateway:
      routes:
        - id: uaa-service
          uri: lb://uaa-service
          predicates:
            - Path=/v1/auth/**
          filters:
            - RewritePath=/v1/auth/(?<path>.*), /$\{path}
        - id: dm-sys-service
          uri: lb://dm-sys-service
          predicates:
            - Path=/v1/dm/**
          filters:
            - RewritePath=/v1/dm/(?<path>.*), /$\{path}
        - id: core-sys-service
          uri: lb://core-sys-service
          predicates:
            - Path=/v1/core/**
          filters:
            - RewritePath=/v1/core/(?<path>.*), /$\{path}
        #- id: notification-service
        #  uri: lb://notification-service
        #  predicates:
        #    - Path=/v1/notification/**
        #  filters:
        #    - RewritePath=/v1/notification/(?<path>.*), /$\{path}
        - id: danhgiacntt-service
          uri: lb://danhgiacntt-service
          predicates:
            - Path=/v1/danhgiacntt/**
          filters:
            - RewritePath=/v1/danhgiacntt/(?<path>.*), /$\{path}


springdoc:
  swagger-ui:
    urls:
      - name: auth
        url: /v3/api-docs/v1/auth
      - name: dm
        url: /v3/api-docs/v1/dm
      - name: core
        url: /v3/api-docs/v1/core
      #- name: notification
      #  url: /v3/api-docs/v1/notification
      - name: danhgiacntt
        url: /v3/api-docs/v1/danhgiacntt
    urlsPrimaryName: dm

