server:
  port: ${SERVER_PORT:8000}
info:
  component: API Gateway Service
spring:
  main:
    web-application-type: reactive # Bắt buộc cho Spring Cloud Gateway
  application:
    name: tr-gateway-service
  config:
    import: "optional:configserver:"
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: uaa-service
              uri: lb://uaa-service
              predicates:
                - Path=/v1/auth/**
              filters:
                - RewritePath=/v1/auth/(?<path>.*), /$\{path}

            - id: dm-sys-service
              uri: lb://dm-sys-service
              predicates:
                - Path=/v1/dm/**
              filters:
                - RewritePath=/v1/dm/(?<path>.*), /$\{path}

            - id: core-sys-service
              uri: lb://core-sys-service
              predicates:
                - Path=/v1/core/**
              filters:
                - RewritePath=/v1/core/(?<path>.*), /$\{path}
  boot:
    admin:
      client:
        url: ${SPRING_BOOT_ADMIN_CLIENT_URL:http://localhost:9090}

springdoc:
  swagger-ui:
    urls:
      - name: auth
        url: /v3/api-docs/v1/auth
      - name: dm
        url: /v3/api-docs/v1/dm
      - name: core
        url: /v3/api-docs/v1/core
    filter: true
    disable-swagger-default-url: true
    urlsPrimaryName: dm

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8061/eureka/}
  instance:
    prefer-ip-address: true


logging:
  level:
    vn.tr: ${LOGGING_LEVEL_VN_TR:INFO}
    org.springframework: ${LOGGING_LEVEL_SPRINGFRAMEWORK:WARN}
  file:
    name: ${LOG_PATH:/opt/logs}/${spring.application.name:tr-gateway-service}/sys-info.log
  config: classpath:logback.xml

# --- Actuator Endpoints Configuration ---
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, gateway, env, configprops, logfile, refresh
  endpoint:
    health:
      show-details: when_authorized # Chỉ show chi tiết health khi được ủy quyền (ví dụ: qua security)

