server:
  port: ${PORT:8000}
info:
  component: Api Gateway Service
eureka:
  client:
    serviceUrl:
      defaultZone: http://mcdt-eureka:8061/eureka
    registerWithEureka: true
    fetch-registry: true

spring:
  main:
    web-application-type: reactive
  application:
    name: tr-gateway-service
  config:
    import:
      - "optional:configserver:http://mcdt-config:8888"
  cloud:
    config:
      uri: http://mcdt-config:8888
      username: ${CONFIG_SERVER_USERNAME:-huydq}
      password: ${CONFIG_SERVER_PASSWORD:-abc@123}
      fail-fast: false # Prevent crash if Config Server is unavailable
      retry:
        max-attempts: 6
        initial-interval: 1000
    gateway:
      metrics:
        enabled: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: tr-core-service
          uri: lb://tr-core-service
          predicates:
            - Path=/v2/core/**
          filters:
            - RewritePath=/v2/core/(?<path>.*), /$\{path}
        - id: tr-dm-service
          uri: lb://tr-dm-service
          predicates:
            - Path=/v2/dm/**
          filters:
            - RewritePath=/v2/dm/(?<path>.*), /$\{path}
        - id: tr-dvc-service
          uri: lb://tr-dvc-service
          predicates:
            - Path=/v1/dvc/**
          filters:
            - RewritePath=/v1/dvc/(?<path>.*), /$\{path}
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs
  boot:
    admin:
      client:
        url: http://mcdt-monitor:8080 # Dockerized Admin server
springdoc:
  swagger-ui:
    urls:
      - name: tr-core
        url: /v3/api-docs/v2/core
      - name: tr-dm
        url: /v3/api-docs/v2/dm
      - name: tr-dvc
        url: /v3/api-docs/v1/dvc
      - name: tr-notification
        url: /v3/api-docs/v1/notification

    filter: true
    disable-swagger-default-url: true
    urlsPrimaryName: tr-dvc
    config-url: /v3/api-docs/swagger-config
    path: /swagger-ui.html


