server:
  port: ${PORT:8000}
info:
  component: Api Gateway Service
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8061/eureka
    registerWithEureka: true
    fetch-registry: true

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-service
  config:
    import:
      - "optional:configserver:http://localhost:8888"
  cloud:
    config:
      uri: http://localhost:8888
      username: huydq
      password: abc@123
    gateway:
      metrics:
        enabled: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: uaa-service
          uri: lb://uaa-service
          predicates:
            - Path=/v1/auth/**
          filters:
            - RewritePath=/v1/auth/(?<path>.*), /$\{path}
        - id: dm-sys-service
          uri: lb://dm-sys-service
          predicates:
            - Path=/v1/dm/**
          filters:
            - RewritePath=/v1/dm/(?<path>.*), /$\{path}
        - id: core-sys-service
          uri: lb://core-sys-service
          predicates:
            - Path=/v1/core/**
          filters:
            - RewritePath=/v1/core/(?<path>.*), /$\{path}
        #- id: notification-service
        #  uri: lb://notification-service
        #  predicates:
        #    - Path=/v1/notification/**
        #  filters:
        #    - RewritePath=/v1/notification/(?<path>.*), /$\{path}
        - id: doanhnghiep-service
          uri: lb://doanhnghiep-service
          predicates:
            - Path=/v1/doanhnghiep/**
          filters:
            - RewritePath=/v1/doanhnghiep/(?<path>.*), /$\{path}
        - id: dvc-service
          uri: lb://dvc-service
          predicates:
            - Path=/v1/dvc/**
          filters:
            - RewritePath=/v1/dvc/(?<path>.*), /$\{path}
        - id: tr-baocao-service
          uri: lb://tr-baocao-service
          predicates:
            - Path=/v1/baocao/**
          filters:
            - RewritePath=/v1/baocao/(?<path>.*), /$\{path}
        - id: tr-core-service
          uri: lb://tr-core-service
          predicates:
            - Path=/v2/core/**
          filters:
            - RewritePath=/v2/core/(?<path>.*), /$\{path}
        - id: openapi
          uri: http://localhost:${server.port}
          predicates:
            - Path=/v3/api-docs/**
          filters:
            - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs


springdoc:
  swagger-ui:
    urls:
      - name: auth
        url: /v3/api-docs/v1/auth
      - name: dm
        url: /v3/api-docs/v1/dm
      - name: core
        url: /v3/api-docs/v1/core
      #- name: notification
      #  url: /v3/api-docs/v1/notification
      - name: cttd
        url: /v3/api-docs/v1/cttd

    filter: true
    disable-swagger-default-url: true
    urlsPrimaryName: dm
    config-url: /v3/api-docs/swagger-config

logging:
  level:
    vn.tr: info
    org.springframework: warn
  config: classpath:logback.xml
